.card {
	background-color: #fff;
	min-width: 100px;
	min-height: 100px;
	margin: 16px;
	padding: 8px;
	border-radius: 5px;
	transition: transform 300ms ease-out;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

a {
	text-decoration: none;
	color: #333;
}

.title {
	text-align: center;
	display: block;
	text-transform: capitalize;
	font-size: 12px;
	color: #333;
}

.image {
	margin: 0 auto;
	width: 100%;
}
