.details__title,
.details__info {
	text-transform: capitalize;
}

.details__title {
	text-align: center;
	font-size: 48px;
	font-weight: bold;
}

.details__list {
	list-style: none;
	padding-inline-start: 0;
	margin: 0;
}

.details__image {
	margin: 0 auto;
	width: 150px;
	height: auto;
}
