.list__link {
	color: #000;
	text-decoration: none;
	text-transform: capitalize;
}

.list__link:visited {
	color: #000;
	text-decoration: none;
}

.list__link:link {
	color: #000;
	text-decoration: none;
}
